@model UnitedGlowHaven.ViewModels.GebruikerListViewModel
@{
    ViewData["Title"] = "Index";
}

<h2>Gebruikers</h2>
<div>
    <form class="mt-5" asp-action="Create" method="get">
        <div class="form-group">
            <input type="submit" value="Nieuwe Gebruiker" class="my-button btn btn-primary" />
        </div>
    </form>
    <form class="mt-5" asp-action="GrantPermissions" method="get">
        <div class="form-group">
            <input type="submit" value="Rollen" class="my-button btn btn-primary" />
        </div>
    </form>
</div>



<table>
    <thead>
        <tr>
            <th class="col-md-4">
                @Html.DisplayNameFor(v => v.Gebruikers[0].Voornaam)
            </th>
            <th class="col-md-4">
                @Html.DisplayNameFor(v => v.Gebruikers[0].Achternaam)
            </th>

            <th class="col-md-4">
                @Html.DisplayNameFor(v => v.Gebruikers[0].Email)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var gebruiker in Model.Gebruikers)
        {
            <tr>
                <td class="col-md-4">
                    @Html.DisplayFor(modelitem => gebruiker.Voornaam)
                </td>
                <td class="col-md-4">
                    @Html.DisplayFor(modelitem => gebruiker.Achternaam)
                </td>

                <td class="col-md-4">
                    <a asp-action="Details" asp-route-id="@gebruiker.Id">
                    @Html.DisplayFor(modelitem => gebruiker.Email)
                    </a>
                </td>
                <td class="col-md-4">
                    <a asp-action="Edit" asp-route-id="@gebruiker.Id">Wijzigen</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@gebruiker.Id">Verwijderen</a>
                </td>
            </tr>
        }
    </tbody>
</table>