@model UnitedGlowHaven.ViewModels.ProductListViewModel
@{
    ViewData["Title"] = "Admin - Producten";
}
<h1 class="mt-5">@ViewData["Title"]</h1>


<form class="mt-5" asp-action="ProductCreate" method="get">
    <div class="form-group">
        <input type="submit" value="Nieuw Product" class="my-button btn btn-primary" />
    </div>
</form>

<table class="table table-bordered table-striped">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Producten[0].ProductNummer)</th>
        <th>@Html.DisplayNameFor(model => model.Producten[0].Naam)</th>
        <th>@Html.DisplayNameFor(model => model.Producten[0].Beschrijving)</th>
       
    </tr>
    @foreach (var product in Model.Producten)
    {
        <tr>
            <td>@product.ProductNummer</td>
            <td>@product.Naam</td>
            <td>@product.Beschrijving</td>
            <td><a class="button" asp-action="ProductDetails" asp-route-id="@product.ProductId">Details</a></td>
            <td><a class="button" asp-action="EditProduct" asp-route-id="@product.ProductId">Aanpassen</a></td>
            <td><a class="button" asp-action="DeleteProduct" asp-route-id="@product.ProductId">Verwijderen</a></td>
            @*@if (this.User.Identity.IsAuthenticated)
            {
                @if (User.IsInRole("admin"))
                {
                    <td><a class="button" asp-action="DeleteDonut" asp-route-id="@product.ProductId">Verwijderen</a></td>
                }
            }*@
        </tr>
    }
</table>
