@model UnitedGlowHaven.ViewModels.ProductCreateViewModel
@{
    ViewData["Title"] = "Nieuw product toevoegen";
}


<form asp-action="ProductCreate" method="post" enctype="multipart/form-data">
    <div class="row mt-5">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Naam" class="control-label">@Html.DisplayNameFor(model => this.Model.Naam)</label>
                <input asp-for="Naam" class="form-control" />
                <span asp-validation-for="Naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductNummer" class="control-label">@Html.DisplayNameFor(model => this.Model.ProductNummer)</label>
                <input asp-for="ProductNummer" class="form-control" />
                <span asp-validation-for="ProductNummer" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="CategorieId" class="control-label">@Html.DisplayNameFor(model => this.Model.CategorieId)</label>
                <input asp-for="CategorieId" class="form-control" />
                <span asp-validation-for="CategorieId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KleurId" class="control-label">@Html.DisplayNameFor(model => this.Model.KleurId)</label>
                <input asp-for="KleurId" class="form-control" />
                <span asp-validation-for="KleurId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaatId" class="control-label">@Html.DisplayNameFor(model => this.Model.MaatId)</label>
                <input asp-for="MaatId" class="form-control" />
                <span asp-validation-for="MaatId" class="text-danger"></span>
            </div>
           
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Beschrijving" class="control-label">@Html.DisplayNameFor(model => this.Model.Beschrijving)</label>
                <textarea asp-for="Beschrijving" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Beschrijving" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label">@Html.DisplayNameFor(model => this.Model.ImageFile)</label>
                <input asp-for="ImageFile" accept="image/*" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prijs" class="control-label">@Html.DisplayNameFor(model => this.Model.Prijs)</label>
                <input asp-for="Prijs" class="form-control" />
                <span asp-validation-for="Prijs" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group ml-2">
            <input type="submit" value="Bewaren" class="btn" />
            <a asp-action="Producten" class="btn">Terug</a>
        </div>
    </div>
</form>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

