@model UnitedGlowHaven.ViewModels.ProductDetailsViewModel
@{
    ViewData["Title"] = Model.Naam;
}

<h1 class="mt-5">@ViewData["Title"]</h1>

<table class="table table-bordered table-striped mt-5">
    <tr>
        <td>@Html.DisplayNameFor(model => this.Model.ProductNummer)</td>
        <td>@Model.ProductNummer</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => this.Model.Naam)</td>
        <td>@Model.Naam</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => this.Model.Beschrijving)</td>
        <td>@Model.Beschrijving</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => this.Model.Kleur)</td>
        <td>@Model.Kleur.Naam</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => this.Model.Categorie)</td>
        <td>@Model.Categorie.Naam</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => this.Model.Prijs)</td>
        <td>@Model.Prijs</td>
    </tr>
    
</table>

@*<a asp-action="Donuts" class="btn" style="background-color: hotpink !important; color: white !important;">Terug</a>*@

