@model UnitedGlowHaven.ViewModels.WinkelmandViewModel;
@{
    ViewData["Title"] = "Winkelmand";
}

<h1>@ViewData["Title"]</h1>

<table class="bg-custom-lighter">
    <thead>
        <tr>
            <th class="px-2">
                @Html.DisplayNameFor(v => v.WinkelmandProducten[0].Product.Afbeelding)
            </th>
            <th class="px-2">
                @Html.DisplayNameFor(v => v.WinkelmandProducten[0].Product.Naam)
            </th>
            <th class="px-2">
                @Html.DisplayNameFor(v => v.WinkelmandProducten[0].Product.ProductNummer)
            </th>
            <th class="px-2">
                @Html.DisplayNameFor(v => v.WinkelmandProducten[0].Aantal)
            </th>
            <th class="px-2">
                @Html.DisplayNameFor(v => v.WinkelmandProducten[0].Product.Prijs)
            </th>
            <th class="px-2">
                Totaal
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.WinkelmandProducten)
        {
            <tr>
                <td class="px-2">
                    <img src="@product.Product.Afbeelding" alt="Card image cap" style="width: 3rem;" />
                </td>
                <td class="px-2">
                    @Html.DisplayFor(modelitem => product.Product.Naam)
                </td>
                <td class="px-2">
                    @Html.DisplayFor(modelitem => product.Product.ProductNummer)
                </td>
                <td class="px-2">
                    @Html.DisplayFor(modelitem => product.Aantal)
                </td>
                <td class="px-2">
                    @Html.DisplayFor(modelitem => product.Product.Prijs)
                </td>
            </tr>
        }
    </tbody>
</table>

   
    

